jcW3CLOUDwpf/Service References/JCW3CLOUDReference/JCW3CLOUD1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:19692/JCW3CLOUD.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/jcW3CLOUD" />
  <xs:element name="renderPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="renderPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/jcW3CLOUD" minOccurs="0" name="renderPageResult" nillable="true" type="q1:JCW3CLOUDPage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>